[MASTER]
max-module-lines=1500
max-branches=50
max-nested-blocks=10
ignored-modules=pyx2z, rdkit
disable=
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    too-many-instance-attributes,
    superfluous-parens,
    deprecated-method,
    duplicate-code,
    no-member,
    global-statement,
    arguments-out-of-order,
    too-many-function-args,
    logging-fstring-interpolation,
    no-self-use
